html {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(#615dad, #ffc8da);
  min-height: 100vh;
  margin: 0;
  line-height: 1.5;
  text-align: center;
  font-family: sans-serif;
  background-size: cover;
  height: 100%;
}

.container_main {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  color: white;
  margin: auto;
}

.foto_uvodni {
  border-radius: 7px 7px 0 0;
  width: 100%;
}

h1 {
  font-family: 'lobster', cursive;
  font-size: 40px;
  font-weight: lighter;
  margin-bottom: 0;
  margin-top: 15px;
}

.text {
  background-color: #283e50;
}

p {
  padding: 0 20px 15px 20px;
}

.b_pravidla {
  background-color: #1fcca4;
  border: none;
  color: white;
  text-align: center;
  display: inherit;
  margin-bottom: 2px;
  height: 40px;
  width: 100%;
  font-family: sans-serif;
  font-size: 15px;
}

.b_pravidla:hover {
  background-color: #1cbb96;
}

.b_zacni {
  background-color: #0197f6;
  border: none;
  color: white;
  text-align: center;
  display: inherit;
  height: 40px;
  width: 100%;
  font-family: sans-serif;
  font-size: 15px;
}
.b_zacni:hover {
  background-color: #0090e9;
}

a {
  text-decoration: none;
}

.container_rules {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  color: white;
  margin: auto;
}

.b_uvodni_stranka {
  background-color: #1fcca4;
  border: none;
  color: white;
  text-align: center;
  display: inherit;
  margin-bottom: 2px;
  height: 40px;
  width: 100%;
  font-family: sans-serif;
  font-size: 15px;
}
.b_uvodni_stranka:hover {
  background-color: #1cbb96;
}

.rules_list {
  text-align: left;
  margin: 0;
}

.rules_images img {
  width: 145px;
}

.rules_list img {
  width: 1em;
  height: 1em;
  filter: invert(100%);
}

.rules_list li {
  padding-left: 15px;
  padding-top: 10px;
}

figure {
  font-size: 10px;
}

.container_play_game {
  margin: 70px auto;
  max-width: 80vmin;
  color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 10px;
}

.play_title {
  font-family: 'Lobster', cursive;
  font-size: 70px;
  font-weight: normal;
  text-align: center;
  color: white;
}

.icon_btn1 {
  background-color: #1fcca4;
  width: auto;
  height: 50px;
  border: none;
  color: white;
  text-align: center;
  /* display: flex; */
  margin: 2px;
  border-radius: 7%;
}
.icon_btn1:hover {
  background-color: #1cbb96;
}

.icon_btn2 {
  background-color: #0197f6;
  width: auto;
  height: 50px;
  border: none;
  color: white;
  text-align: center;
  /* display: flex; */
  margin: 2px;
  border-radius: 7%;
}
.icon_btn2:hover {
  background-color: #0090e9;
}

.play_text {
  color: white;
  font-size: 29px;
}

.icon_buttons {
  display: flex;
  flex-wrap: wrap;
}

.icon_symbol {
  filter: invert(100%);
}

.policko {
  /* width: 10%;
  height: 0;
  background-color: transparent;
  border: 1px solid black;
  padding-bottom: 10%; */
  width: calc(100% / 10);
  height: 8vmin;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: 1px solid black;
}
.policko:hover,
.policko:focus {
  opacity: 70%;
  cursor: pointer;
}

.policko:disabled {
  opacity: 100%;
}

.game_field {
  display: flex;
  flex-flow: wrap;
  width: 100%;
  border: 1px solid black;
  background: rgba(255, 255, 255, 0.4);
}

.play_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
}

.board__field--circle {
  background-image: url(Piskvorky_rules/circle.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  animation-name: growingSymbol;
  animation-duration: 0.3s;
}

.board__field--cross {
  background-image: url(Piskvorky_rules/cross.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  animation-name: growingSymbol;
  animation-duration: 0.3s;
}

@keyframes growingSymbol {
  from {
    background-size: 10%;
  }
  to {
    background-size: 70%;
  }
}
