body {
  margin: 0;
}

.title_table {
  display: block;
  background-color: #283e50;
  color: #ffffff;
  text-align: center;
  border: 0px solid #615dad;
  border-radius: 7px 7px 0px 0px;
}

.foto_uvodni {
  display: block;
  width: 100%;
  border: 0px solid #615dad;
  border-radius: 10px 10px 0px 0px;
}

.uvodni_nadpis {
  font-family: lobster;
  font-size: 40px;
}

.title_page {
  background-image: linear-gradient(#615dad, #ffc8da);
  text-align: center;
  padding-top: 5rem;
  padding-left: 27rem;
  padding-bottom: 10rem;
  padding-right: 27rem;
}

.main_description {
  font-family: sans-serif;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  text-align: center;
}

.b_pravidla {
  background-color: #1fcca4;
  border: none;
  color: white;
  text-align: center;
  display: inherit;
  margin-bottom: 2px;
  height: 40px;
  width: 100%;
  font-family: sans-serif;
  font-size: 15px;
}

.b_pravidla:hover {
  background-color: #1cbb96;
}

.b_zacni {
  background-color: #0197f6;
  border: none;
  color: white;
  text-align: center;
  display: inherit;
  height: 40px;
  width: 100%;
  font-family: sans-serif;
  font-size: 15px;
}
.b_zacni:hover {
  background-color: #0090e9;
}

a {
  text-decoration: none;
}
